.edit-order {
  color: white;
  background-color: black;
  border: 1px solid white;
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  font-size: 18px;
  transition: 0.15s ease;
}

.edit-order:hover {
  outline: none;
  border: 1px solid #d09a2d;
  cursor: pointer;
}

.edit-order:focus {
  outline: none;
  border: 1px solid #d09a2d;
}

.order-display {
    font-size: 18px;
    border: 1px solid #d09a2d;
    border-radius: 4px;
    width: 300px;
    padding: 10px;
    transition: .15s ease;
}

.order-display:hover {
  background: rgba(0, 0, 0, 0.799);
  border: 1px solid white;
}
.delete-icon {
  font-size: 18px;
  margin-right: 10px;
  transition: 0.15s ease;
}

.save-icon {
    font-size: 18px;
    margin-right: 10px;
    transition: 0.15s ease;  
}
.edit-icon {
  font-size: 18px;
  transition: 0.15s ease;
}

.edit-icon:hover {
  color: #d09a2d;
  cursor: pointer;
}

.save-icon:hover {
  color: #d09a2d;
  cursor: pointer;
}

.delete-icon:hover {
  color: #d09a2d;
  cursor: pointer;
}

.detail-label {
  color: #d09a2d
}