.splash-main {
  font-family: lato;
  background-image: url("../../images/connor-home-DrYUAEXsNyE-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.splash-title {
  text-align: left;
  color: #d09a2d;
  padding-left: 60px;
  padding-top: 80px;
  font-size: 30px;
  font-weight: 300;
}

.splash-title h1 {
  font-weight: 300;
  font-size: 50px;
}

.splash-copy {
  text-align: left;
  padding-left: 60px;
  color: white;
}

.splash-copy h2 {
  font-size: 26px;
  font-weight: 300;
}

.splash-copy h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 300;
}
.splash-buttons {
  text-align: left;
  padding-left: 60px;
  padding-top: 40px;
}

.splash-buttons button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  font-weight: 300;
  margin-right: 10px;
  transition: 0.15s ease;
}

.splash-buttons button:hover {
  color: white;
  border: 1px solid #d09a2d;
  background-color: #d09a2d;
}

.splash-buttons button:focus {
  outline: white;
}
